#calculator-box{
    display: flex;
    flex-direction: column;
    background-color:#FFD21F;
    padding: 40px;
    width: 350px;
    margin: 0 auto;
}

#display{
    width: auto;
    height: 60px;
    background-color: #FBF5DB;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#display-content{
    padding: 20px;
    background-color: #FBF5DB;
}

#buttons-box{
    background-color: #FBF5DB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button{
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 5px;
    background-color: #C8DAA6;
    text-align: center;
    line-height: 40px;
    color:#76944C;
}

.button.clear{
    width: 110px;
}

.button.delete{
    width: 110px;
}

.row{
    display: flex;
    justify-content: center;
    margin: 5px;
    background-color: #FBF5DB;
    
}

.row.long{
    display: flex;
    justify-content: center;
    margin: 5px;
    background-color: #FBF5DB;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    color:#76944C;
    height: 100%;
    margin: 0;
}

*{
    background-color: #C8DAA6;
    border: 0;
}

